<%# <div class="contents"> %>
  <%# <div class="main"> %>
    <h3>映画メモ</h3> 
    <%= form_with model: @movies, local: true do |f| %>
      <h4>タイトル</h4>
      <%= f.text_field :title, placeholder: "映画タイトル" %>
      <h4>映画ビジュアル</h4>
      <%= f.file_field :image %>
      <h4>映画メモ</h4>
      <%= f.text_field :memo, placeholder: "メモ" %>
      <h4>出演俳優</h4>
      <%= f.text_field :actor, placeholder: "俳優名" %>
      <h4>監督</h4>
      <%= f.text_field :director, placeholder: "監督名"  %>
      <h4>ジャンル</h4>
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select"}) %>
      <h4>星評価</h4>
      <%= f.collection_select(:evaluation_id, Evaluation.all, :id, :name, {}, {class:"select"}) %>
      <%= f.submit "登録" %>
    <% end %> 
  <%# </div> %>
<%# </div> %>