<div class="container mt-5">
  <div class="row justify-content-center">
    <h1 class="col-3 align-self-center">映画メモ</h1>
  </div>
  <div class="row justify-content-center m-5">
    <h2 class="col-3 align-self-center"><%= @movie.title %></h2>
  </div>
  <div class="row justify-content-center">
    <%= image_tag @movie.image.variant(resize: '500x300'), class: "img-thumbnail m-5", style: "width:100%;height:auto;max-width:500px;" %><br>
  </div>
  <div class="row justify-content-center m-3">
    <h4 class="col align-self-center"><%= @movie.memo %></h4>
  </div>
 <table class="table table-striped">
  <%# <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">First</th>
    </tr>
  </thead> %>
    <tbody>
      <tr>
        <th scope="row">出演俳優</th>
        <td><%= @movie.actor %></td>
        <%# <td>Otto</td>
        <td>@mdo</td> %>
      </tr>
      <tr>
        <th scope="row">監督名</th>
        <td><%= @movie.director %></td>
      </tr>
      <tr>
        <th scope="row">ジャンル</th>
        <td colspan="2"><%= @movie.genre.name %></td>
      </tr>
      <tr>
        <th scope="row">個人的評価（★５段階評価）</th>
        <td colspan="2"><%= @movie.evaluation.name %></td>
      </tr>
    </tbody>
  </table>
  <% if user_signed_in? && current_user.id == @movie.user_id %>
    <div class="row justify-content-end">
      <div class="col-2">
        <%= link_to '編集する', edit_movie_path(@movie.id), class: "btn btn-info mb-3" %>
      </div>
      <div class="col-2">
        <%= link_to '削除する', movie_path(@movie.id), method: :delete, "data-confirm"=>"本当に消しますか？", class: "btn btn-danger mb-3 " %><br>
      </div>
    </div>
  <% end %>
  </div>
</div>