<!DOCTYPE html>
<html lang="ja" class="h-100">
  <head>
    <title>MemoMovieApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/43307631a0.js" crossorigin="anonymous"></script>
  </head>

  <body class="h-100 vstack">
    <%# ヘッダー %>
    <header>
      <%# ナビゲーションバー %>
      <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">
          <%= link_to "MemoMovie", root_path, class:"navbar-brand" %>
          <%# トグルボタン %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
              <% if user_signed_in? %>
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item active">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link" %>
                  </li>
                  <li class="nav-item active">
                    <%= link_to "映画メモる", new_movie_path, class:"nav-link" %>
                  </li>
                </ul>
                </div>
              <% else %>
                  <ul class="navbar-nav">
                    <li class="nav-item"> 
                      <%= link_to "ログイン", new_user_session_path, class:"nav-link" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "新規登録", new_user_registration_path, class:"nav-link" %>
                    </li>
                  </ul>
             <% end %>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <%# //フッター %>
    <%# <footer class="mt-auto py-2 bg-secondary text-white">
      <div class="container text-center">
        MemoMovie
      </div>
    </footer>
     %>


  </body>
</html>
